/* Palenight syntax highlighting */
.syn-comment { -fx-fill: #676e95; -fx-font-style: italic; }
.syn-string { -fx-fill: #c3e88d; }
.syn-number { -fx-fill: #f78c6c; }
.syn-keyword { -fx-fill: #c792ea; -fx-font-weight: bold; }
.syn-functioncall { -fx-fill: #82aaff; }
.syn-brace { -fx-fill: #bfc7d5; }
.syn-tag { -fx-fill: #f07178; }
.syn-attr { -fx-fill: #c3e88d; }
.syn-attrvalue { -fx-fill: #ffcb6b; }
.syn-tagend { -fx-fill: #f07178; }
.syn-selector { -fx-fill: #f07178; }
.syn-property { -fx-fill: #82aaff; }
.syn-color { -fx-fill: #c792ea; }
.syn-key { -fx-fill: #82aaff; }
.syn-bool { -fx-fill: #c792ea; }
.syn-annotation { -fx-fill: #f78c6c; }
.syn-default { -fx-fill: #bfc7d5; }
