/* Panda syntax highlighting */
.syn-comment { -fx-fill: #676b79; -fx-font-style: italic; }
.syn-string { -fx-fill: #19f9d8; }
.syn-number { -fx-fill: #f29b80; }
.syn-keyword { -fx-fill: #ff75b5; -fx-font-weight: bold; }
.syn-functioncall { -fx-fill: #ffb86c; }
.syn-brace { -fx-fill: #e6e6e6; }
.syn-tag { -fx-fill: #ff2c6d; }
.syn-attr { -fx-fill: #19f9d8; }
.syn-attrvalue { -fx-fill: #ffcc95; }
.syn-tagend { -fx-fill: #ff2c6d; }
.syn-selector { -fx-fill: #ffb86c; }
.syn-property { -fx-fill: #ffb86c; }
.syn-color { -fx-fill: #f29b80; }
.syn-key { -fx-fill: #ffb86c; }
.syn-bool { -fx-fill: #ff75b5; }
.syn-annotation { -fx-fill: #ffcc95; }
.syn-default { -fx-fill: #e6e6e6; }
