/* Light Owl syntax highlighting */
.syn-comment { -fx-fill: #989fb1; -fx-font-style: italic; }
.syn-string { -fx-fill: #22a6a0; }
.syn-number { -fx-fill: #e65b78; }
.syn-keyword { -fx-fill: #994cc3; -fx-font-weight: bold; }
.syn-functioncall { -fx-fill: #4879d4; }
.syn-brace { -fx-fill: #403f53; }
.syn-tag { -fx-fill: #e65b78; }
.syn-attr { -fx-fill: #22a6a0; }
.syn-attrvalue { -fx-fill: #c7873b; }
.syn-tagend { -fx-fill: #e65b78; }
.syn-selector { -fx-fill: #4879d4; }
.syn-property { -fx-fill: #4879d4; }
.syn-color { -fx-fill: #994cc3; }
.syn-key { -fx-fill: #4879d4; }
.syn-bool { -fx-fill: #994cc3; }
.syn-annotation { -fx-fill: #e65b78; }
.syn-default { -fx-fill: #403f53; }
