/* Ayu Mirage syntax highlighting */
.syn-comment { -fx-fill: #5c6773; -fx-font-style: italic; }
.syn-string { -fx-fill: #bae67e; }
.syn-number { -fx-fill: #ffc44c; }
.syn-keyword { -fx-fill: #ff7733; -fx-font-weight: bold; }
.syn-functioncall { -fx-fill: #5ccfe6; }
.syn-brace { -fx-fill: #cbccc6; }
.syn-tag { -fx-fill: #f07178; }
.syn-attr { -fx-fill: #bae67e; }
.syn-attrvalue { -fx-fill: #ffd173; }
.syn-tagend { -fx-fill: #f07178; }
.syn-selector { -fx-fill: #5ccfe6; }
.syn-property { -fx-fill: #5ccfe6; }
.syn-color { -fx-fill: #d4bfff; }
.syn-key { -fx-fill: #5ccfe6; }
.syn-bool { -fx-fill: #d4bfff; }
.syn-annotation { -fx-fill: #f07178; }
.syn-default { -fx-fill: #cbccc6; }
