/* Solarized Dark syntax highlighting */
.syn-comment { -fx-fill: #586e75; -fx-font-style: italic; }
.syn-string { -fx-fill: #2aa198; }
.syn-number { -fx-fill: #d33682; }
.syn-keyword { -fx-fill: #859900; -fx-font-weight: bold; }
.syn-functioncall { -fx-fill: #268bd2; }
.syn-brace { -fx-fill: #839496; }
.syn-tag { -fx-fill: #b58900; }
.syn-attr { -fx-fill: #cb4b16; }
.syn-attrvalue { -fx-fill: #2aa198; }
.syn-tagend { -fx-fill: #b58900; }
.syn-selector { -fx-fill: #859900; }
.syn-property { -fx-fill: #268bd2; }
.syn-color { -fx-fill: #d33682; }
.syn-key { -fx-fill: #b58900; }
.syn-bool { -fx-fill: #d33682; }
.syn-annotation { -fx-fill: #cb4b16; }
.syn-default { -fx-fill: #839496; }
